<!DOCTYPE html>
<html>
<head>
  <title>YouShouldCheckOut</title>
  <link href='https://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar">
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <a class ="navbar-brand" href="/">You should check out...</a>
        <ul class="nav nav-pills nav-justified">
          <li><%= link_to "(Add new resource)", add_path, class: "btn" %></li>
          <li><a href="https://drive.google.com/folderview?id=0BzgmJxLHIfzZfkxkTEhaVTFNNmdicXdPMkVEN1JndzMyQTNQdHdILVpiTWtVXzh5LTR4ajg&usp=sharing" target="_blank"><img alt ="Google Drive" src="https://developers.google.com/drive/images/drive_icon.png"></a></li>
          <li><a href="https://brokenerds.slack.com/"><img id="slack" alt="Slack" src="https://assets.brandfolder.com/c8d4sd15/original/slack_rgb.png" target="_blank"></a></li>
        </ul>
      </div>
    </div>
  </nav>
  <%= yield %>
  <!-- <%= debug(params) if Rails.env.development? %> -->
  <div id="footer">
    <div class="container">
      <p class="cursive">Built by novices.</p>
    </div>
  </div>
</body>
</html>
